
:root{
  --primary-color:#357b70;
  --secondary-color:#e0b354;
  --dark-grey:#A9A9A9;
  --white:	#FFFFFF;
}
body {
  font-family:'Courgette'cursive;;
  font-size: 16px;
  font-weight: 400;
  margin:20px;
  box-sizing: border-box;
}

h1{
  font-weight: bolder;
  font-size:20px;
}
h2{
    font-style: italic;
  text-align: center;
}

/* define header vars */
 header{
   --header-bg-color:#FFA500;
   --header-main-color:#6A5ACD;

 }
   header{
     background-color:none;
     font-size: 15px
}

   .profile{
   max-width: 700px;
   margin:0 auto;


   }
  .profile__potrait{
    float:left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;

  }
  .profile__text{
    flex:1 1 100px;
  }
  nav{
    float: right;
  }

.navigation-list{
  list-style-type: none;
  float:right;
}
.navigation-list li{
  display: inline-block;
  margin-left: 15px;
  float: right;
}
.navigation-list__item--active{
  text-decoration: none;
}
.grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
grid-gap: 20px;
}
.grid_item{
 background-color: var(--dark-grey);
 display: inline-block;
padding: 10px;
 width: auto;
}
.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

nav ul{
  text-align:right;
  display:flex;
  justify-content: flex-end;
}

li{
  list-style: none;
  display: inline-block;
  margin:5px;
  font-weight: bolder;
  font-size: 20px;
  padding: 0px 12px;
}
a:visited{
  color: #05676e;
}
a:hover, a:focus{
  text-decoration: none;
}
a:active{
  color: #489c79;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px;
  border-radius:  3px;
  border-bottom: 2px solid rgba(0,0,0,0,3);
  transition: 0.2s opacity;
  width: 70%;
}

.button:hover,
.button:focus{
  cursor: pointer;
  opacity: 0.8;
}


.page-footer{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  flex-direction:row;
  text-align: center;
  padding: 12px 0px 30px;
  margin: 12px 0px;
  clear:both;
}


@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
}
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.sun {
   animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
